@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav img{
    width: 90px;
    object-fit: cover;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 1.2rem;
    background-color: #ffffff;
}

#link ul{
    display: flex;
    flex-direction: row;
}

.nav-item{
    list-style: none;
    margin: 0 8px;
}

.nav-link{
    color: black;
    font-size: 0.9rem;
    font-family:system-ui,'inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-weight: bold;
}

.nav-link:hover{
    text-decoration: underline;
    color: black;
}

#content-bt{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000009f;
}


.buttons{
    z-index: 1;
    position: absolute;
    top: 18vh;
}

.buttons h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1em;
    font-family: system-ui,'inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
}

.buttons h2{
    font-size: 2.2em;
    font-family: 'inter',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
}

.buttons button{
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 3px;
    margin-top: 5vh;
}

#bt , #bt2{
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 32px;
    padding-right: 32px;
}

#bt a{
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: #000;
}

#bt2 a{
    color: #ffffff;
    font-size: 1em;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

#btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

#bt{
    background-color: #ffffff;
    cursor: pointer;
    transition: 0.5s;
}

#bt:hover{
    background-color: #ffffffa2;
}

#bt2{
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
}

#bt2 a:hover{
    color: #000;
    text-decoration: underline;
}

#bt2:hover{
    background-color: #ffffff;
}

video{
    width: 100%;
    z-index: -1;
    background-size: cover;
}

/*MAIN*/

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-family: system-ui, 'inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.modelos ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vh;
}

.modelos ul a{
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

.modelos ul a:hover{
    color: blue;
}

.link-li{
    list-style: none;
    border: none;
}

.link-bt{
    border: none;
    background-color: #ffffff;
}

#carros{
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#flex{
    display: flex;
    gap: 4vh;
    overflow-x: auto;
}

.carro{
    font-family: system-ui,'inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.9em;
    font-weight: 600;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.car{
    width: 300px;
    object-fit: cover;
    border-radius: 2px;
}

.car-ex{
    width: 300px;
    height: 175px;
    object-fit: cover;
    border-radius: 2px;
}

.p-car{
    font-size: 0.6rem;
    opacity: 70%;
    margin-bottom: 10px;
}

.reservar{
    color: #000;
    transition: 0.7s;
    text-decoration: none;
}

.reservar:hover{
    color: rgb(65, 65, 65);
    text-decoration: underline;
}

.cover{
    color: rgba(0, 0, 0, 0.733);
}

.next{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.rd{
    display: none;
}

/*text-cards-car*/

.span{
    margin: 7vh;
    max-width: 180vh;
}

.text-info{
    font-family: 'Gill Sans', 'Gill Sans MT','inter', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

.h1-info{
    font-size: 2.5rem;
}

.h2-info{
    max-width: 85vh;
    margin-top: 20px;
    opacity: 60%;
}

/*car-card*/

.car-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vh;
}

.car-card img{
    width: 100%;
    object-fit: cover;
}

.car-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
    padding-top: 35px;
    margin-bottom: 5vh;
    max-width: 600px;
    background-color: rgb(243, 243, 243);
}

.car-card .tx-car{
    font-family: 'Gill Sans', 'Gill Sans MT','inter', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 28px;
}

.car-card h1{
    font-size: 1.6rem;
}

.car-card p{
    max-width: 64vh;
    color: #6d6d6d;
    font-size: 1.1rem;
}

.car-card a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #191f79d0;
}

/*card user*/

    .fit{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10vh;
        margin-top: 8vh;
    }

    .fit img{
        width: 100%;
        object-fit: cover;
    }

    .card-user{
        max-width: 600px;
        margin-bottom: 7vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5vh;
        background-color: rgb(228, 227, 227);
    }

    .card-user h1{
        font-family: 'Gill Sans', 'Gill Sans MT','inter', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.8rem;
        text-align: center;
    }

    .bt-us{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 35px;
        border-style: solid;
        border-color: #253fd3;
        border-radius: 5px;
        margin-bottom: 5vh;
        background-color: rgb(228, 227, 227);
    }

    .bt-us a{
        text-decoration: none;
        font-size: 1.2em;
        font-family: system-ui,'inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
    }

/*card-footer*/

.lance2{
    display: flex;
    justify-content: center;
    height: 68vh;
    margin: 20px;
    margin-top: 4vh;
}

.card-footer{
    background-image: url(midia/img-footer.webp);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    display: flex;
    align-items: center;
}

.content-car{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 3vh;
    width: 100%;
    margin-left: 40px;
}

.bts1{
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.2em;
    max-width: 58vh;
}

#z-button{
    background-color: #ffffff;
    padding: 10px 25px;
    border-radius: 5px;
    border: solid;
    border-color: #ffffff;
}

#z-button a{
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*responsivo*/

@media(max-width: 1200px){

    #suporte{
        display: none;
    }

    .vd{
        display: none;
    }

    .rd{
        display: block;
    }

    .car-info{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 480px;
        margin: auto;
    }

    .fit{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10vh;
        margin-top: 8vh;
    }

    .card-user{
        max-width: 480px;
    }

    .bts1{
        max-width: 60vh;
        font-size: 2rem;
    }

}

@media(max-width: 920px){

    .bts1{
        max-width: 30vh;
        font-size: 2rem;
    }

}

@media(max-width: 768px){

    .car-info{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 480px;
        margin: auto;
    }

    .fit{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10vh;
        margin-top: 8vh;
    }

    .card-user{
        max-width: 480px;
    }

    .bts1{
        max-width: 40vh;
    }

}

    

@media(max-width: 540px){
    .vd{
        display: none;
    }

    .rd{
        display: block;
    }

    .title{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4em;
    }

    .modelos ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5vh;
    }

    .car-info{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 340px;
        margin: auto;
    }

    .h1-info{
        width: 320px;
    }

    .car-card p{
        max-width: 37vh;
    }

    .car-card .tx-car{
        padding-left: 20px;
    }

    .card-user{
        max-width: 330px;
    }

    .fit{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .bts1{
        font-size: 1.4rem;
        max-width: 30vh;
    }

    #z-button{
        padding: 8px 4px;
    }

    #z-button a{
        font-size: 0.7rem;
    }
    

}

@media(max-width: 414px){

    .bts1{
        font-size: 1.4rem;
        max-width: 18vh;
    }

}

@media(max-width: 390px){

    .bts1{
        font-size: 1.2rem;
        max-width: 26vh;
    }

    #z-button{
        padding: 7px 3px;
    }

    #z-button a{
        font-size: 0.6rem;
    }
}

@media(max-width: 375px){

    .bts1{
        max-width: 26vh;
    }

    #z-button{
        padding: 7px 3px;
    }

    #z-button a{
        font-size: 0.6rem;
    }
}

